.paint-body {
  display: flex;
  flex-grow: 1;
  min-height: 0; /* Fix for flexbox overflow */
}

.paint-body :global(hr) {
  margin: 0;
}

.toolbar {
  width: var(--size-30);
  flex-shrink: 0;
  border-right: var(--border-1) solid var(--win95-dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
}

.tool-button {
  @mixin win95-button-raised-soft;
  @mixin win95-button-focus;

  width: var(--size-20);
  height: var(--size-20);
  display: grid;
  place-content: center;
  align-items: center;
  font-size: var(--font-size-xl);
  cursor: pointer;
}

.tool-button-img {
  width: var(--size-20);
  height: var(--size-20);
}

.canvas {
  flex-grow: 1;

  @mixin win95-sunken-soft;

  position: relative;
}

.paint-canvas {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--win95-white);
  cursor: crosshair;
}

.color-palette {
  height: var(--size-25);
  flex-shrink: 0;
  border-top: var(--border-1) solid var(--win95-dark-gray);
  padding: var(--space-2) var(--space-5);
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  gap: var(--space-5);
}

.color-selected {
  height: var(--size-20);
  width: var(--size-20);
  padding: var(--space-4-5);

  @mixin win95-sunken-soft;

  background-color: var(--win95-active-bg);
}

.color-swatches {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--space-0-5) var(--space-2);
}

.color-swatch {
  width: var(--size-10);
  height: var(--size-10);
  border: var(--border-1) solid var(--win95-dark-gray);
  cursor: pointer;
}

.color-swatch:active {
  border: var(--border-1) solid var(--win95-white);
}
