@font-face {
  font-family: "MS Sans Serif";
  src: local("MS Sans Serif"),
    url("./assets/MS Sans Serif 8pt.ttf") format("opentype");
}

:root {
  --ui-font-family: "MS Sans Serif";
  --canvas-text-font-family: "Silkscreen";
}
