.app-container {
  background-color: #008080; /* Classic Windows desktop teal */
  /* This makes the font sharp and not anti-aliased */
  /* font-smooth: never;
  -webkit-font-smoothing: none; */
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.desktop {
  flex: 1;
  overflow: hidden;
}

.desktop-shortcuts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px 0 0;

  button {
    width: 72px;
    min-height: 72px;
    padding: 0 1px;
    background: none;
    font-family: inherit;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:active {
      border: 1px dashed black;
    }
  }

  span {
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    text-overflow: ellipsis;
  }
}
