.desktop {
  flex: 1;
  overflow: hidden;
  background-color: var(--win95-teal);
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.desktop-shortcuts {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  padding: var(--space-2-5) 0 0;

  button {
    width: var(--size-36);
    min-height: var(--size-36);
    padding: 0 var(--border-1);
    background: none;
    font-family: inherit;
    border: var(--border-1) solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-2-5);
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:focus {
      border: var(--border-1) dashed var(--win95-black);
    }
  }

  span {
    line-height: var(--line-height-normal);
    font-size: var(--font-size-sm);
    color: var(--win95-white);
    text-overflow: ellipsis;
  }
}
