.desktop {
  flex: 1;
  overflow: hidden;
  background-color: var(--win95-teal);
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.desktop-shortcuts {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  padding: 5px 0 0;

  button {
    width: 72px;
    min-height: 72px;
    padding: 0 1px;
    background: none;
    font-family: inherit;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    &:focus {
      border: 1px dashed black;
    }
  }

  span {
    line-height: 16px;
    font-size: var(--font-size-sm);
    color: var(--win95-white);
    text-overflow: ellipsis;
  }
}
